<html>
<head>
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type">
    <title></title>
</head>
<body>
<form method="post" action="/submit" name="f">Enter your email address:<br>
    <input name="email"><br>
    <input name="code" type="hidden" value="{{code}}"><br>
    <br>
    <button name="Submit">Submit</button></form>
</body>
</html>

