<html>
<head>
    <meta content="text/html; charset=ISO-8859-1"
          http-equiv="content-type">
    <title></title>
</head>
<body>
Your bitcoin has been sent! Check your email.<br>
</body>
</html>